*{
    margin: 0;
}

.contenedor{
    background: lightblue;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 4%;
}

button{
    background-color: violet;
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

#img1{
    width: 30vw;
    height: 70vh;
    padding: 0.5em;
}